{% extends 'homepage.html' %}

{% block main %}
    <div class="primary">
        <div class="left">
           <h3>書本查詢：</h3>
           <form method="get" action="{% url 'book_search' %}" onsubmit="return validateForm()">
               <label for="search_by">搜尋類別</label>
               <select id="search_by" name="search_by">
                   <option value="title">書名</option>
                   <option value="isbn">ISBN</option>
                   <option value="author_last_name">姓</option>
                   <option value="author_first_name">名</option>
                   <option value="publisher">出版社</option>
               </select>
               <br>
               <div class="search-box">
                   <input type="text" id="query" name="query" value="{{ request.GET.query|default_if_none:'' }}">
                   <button type="submit">
                       <i class="fa fa-search"></i>
                   </button>
               </div>
           </form>
           <br><hr><br>
           <h3>站點查詢：</h3>
           <p>//這裡放站點查詢輸入欄</p>
        </div>
        <div class="right">
            {% if books %}
                <h3>搜索结果：</h3>
                <ul>
                    {% for book in books %}
                    <li>{{ book.title }} by {{ book.author }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>查無此書</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
