{% extends 'Mama.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B&R Book</title>
    {% block loadcss %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% endblock %}

</head>

<body>
    {% block person %}
    <a href="{% url 'member_info' %}"><img class="person"
            src="https://photo-static-api.fotomore.com/creative/vcg/400/new/VCG41N1198413935.jpg" alt="訪客頭"></a>
    {% endblock %}
    {% block main %}
    <script>
        function validateForm() {
            var query = document.getElementById('query').value;
            if (query === '') {
                alert('請輸入關鍵字');
                return false;
            }
            return true;
        }
    </script>
    <div class="primary">
        <div class="left">
            <h3>書本查詢：</h3>
            <form method="get" action="{% url 'book_search' %}" onsubmit="return validateForm()">
                <label for="search_by">搜尋類別</label>
                <select id="search_by" name="search_by">
                    <option value="title">書名</option>
                    <option value="isbn">ISBN</option>
                    <option value="lname">姓</option>
                    <option value="fname">名</option>
                    <option value="publisher">出版社</option>
                </select>
                <br>
                <!-- {{ form.query }} -->
                <div class="search-box">
                    <input type="text" id="query" name="query" value="{{ request.GET.query|default_if_none:'' }}">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
            <br>
            <hr><br>
            <h3>站點查詢：</h3>
            <form method="get" action="{% url 'station_search' %}">
                <div class="search-box-station">
                    <label for="station_location">查詢地點</label>
                    <select id="station_location" name="station_location">
                        <option value="Taipei">臺北</option>
                        <option value="Taichung">臺中</option>
                    </select>
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="right">
            <p>//這裡等資料庫建好放書籍瀏覽gallery</p>
            {% if books %}
            <ul>
                {% for b in books %}
                <li>
                    <a href="{% url 'book_detail' b.id %}">{{ b.title }}</a> by {{ b.author.all|join:", " }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>目前暫無書籍可借閱</p>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</body>

</html>