<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B&R Book</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mama.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block loadcss %}{% endblock %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/> -->

</head>
<body>
    {% load static %}
    <div class="top">
        <h1 style="font-size: 50px;"><a href="/" style="color: rgb(33, 8, 76); text-decoration: none;">B&R Book</a></h1>
        <h3>Self-Service Borrowing and Returning Books.</h3>
    </div>

    <a href="{% url 'member_info' %}">
        {% if request.user.is_superuser %}
            <img class="person" src="https://png.pngtree.com/png-vector/20191022/ourmid/pngtree-hammer-and-wrench-vector-illustration-with-simple-design-isolated-on-white-png-image_1846023.jpg" alt="管理員">
            <p style="color: #f00; position: absolute; top: 75px; right: 10px;">管理員不能使用<br>訪客登入功能!!!</p>
        {% elif request.user.is_authenticated %}
            {% if member and member.sex == 'F' %}
                <img class="person" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQul6cUgguGC_LWW8Vg7mvsBC-pS6LfaVNhW57O3MF352pjci8uO3mvaErbu_3bejzJLLg&usqp=CAU" alt="女會員">
            {% elif member and member.sex == 'M' %}
                <img class="person" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdlU9zjkd_gZqm6RcA70J3W23t4yJGcOhUJ8vSRQiOyEhx3ty5dDb4i0rhuZAhvgH3mgA&usqp=CAU" alt="男會員">
            {% endif %}
        {% else %}
            <img class="person" src="https://photo-static-api.fotomore.com/creative/vcg/400/new/VCG41N1198413935.jpg" alt="訪客頭">
        {% endif %}
    </a>
    <!-- 這邊放右上角頭像，圖案幫找好在css裡了，class="person"-->

    {% block home %}{% endblock%}
    <div class="mid">{% block main %}{% endblock%}</div>


    <div class="bottom">
        <p>R&B Book自助借還書管理系統</p>
        <p>維護員：曾予菲、許尹瑄、詹亦萱、陳螢貞、李宸儀</p>
        <p>沒有聯絡專線，有問題也請不要找我們，謝謝。</p><br>
        {% if request.user.is_superuser %}
            <p><a href="{% url 'superuser_logout' %}">管理員登出</a> | <a href="\admin">進入管理介面</a>|<a href="\">回首頁</a></p>
        {%else%}
            <p><a href="\admin">管理員登入</a>|<a href="\">回首頁</a></p>
        {% endif %}
        

    </div>
    
</body>
</html>