<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B&R Book</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mama.css' %}"/>
    {% block loadcss %}{% endblock %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/> -->

</head>
<body>
    {% load static %}
    <div class="top">
        <h1 style="font-size: 50px;"><a href="/" style="color: rgb(33, 8, 76); text-decoration: none;">B&R Book</a></h1>
        <h3>Self-Service Borrowing and Returning Books.</h3>
    </div>

    {% block person %}{% endblock %}
    <!-- 這邊放右上角頭像，圖案幫找好在css裡了，class="person"-->

    <div>{% block main %}{% endblock%}</div>


    <div class="bottom">
        <p>R&B Book自助借還書管理系統</p>
        <p>維護員：曾予菲、許尹瑄、詹亦萱、陳螢貞、李宸儀</p>
        <p>沒有聯絡專線，有問題也請不要找我們，謝謝。</p>
    </div>
    
</body>
</html>