{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mama</title>
    <link rel="stylesheet" href="{% static 'css/Mama.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>
    <div class="top">
        <h1 style="font-size: 50px; color: rgb(33, 8, 76);">B&R Book</h1>
        <h3>Self-service borrowing and returning books.</h3>
    </div>

    {% block person %}{% endblock %}
    <!-- 這邊放右上角頭像，圖案幫找好在css裡了，class="person"-->

    <div>{% block main %}{% endblock%}</div>


    <div class="bottom">
        <p>R&B Book自助借還書管理系統</p>
        <p>維護員：曾予菲、許尹瑄、詹亦萱、陳螢貞、李宸儀</p>
        <p>沒有聯絡專線，有問題也請不要找我們，謝謝。</p>
    </div>
    
</body>
</html>