{% extends 'Mama.html' %}

{% block loadcss %}
    <style>
        body{
            text-align: center;
        }
    </style>
{% endblock %}

{% block main %}
<h1>站點資訊</h1>
<h2>{{ station.name }}</h2>

<p></p>

<h2>站內書籍</h2>
{% if books %}
<ul>
    {% for book in books %}
    <a href="{% url 'book_detail' book.id %}">
        <img style="width: 250px;height: 360px;padding: 0;margin: 20px;" class="book" src="{{ book.img.url }}" alt="{{ book.title }}的封面">
    </a>
    {% endfor %}
</ul>
{% else %}
<p>站內目前沒有書籍</p>
{% endif %}
<!-- 管理員的部分-->
{% if request.user.is_superuser %}
    <p><a href="{% url 'admin:members_station_change' station.id %}">編輯「{{ station.name }} 」此站點</a></p>
{% endif %}
<!-- --------->
{% endblock%}