{% extends 'homepage.html' %}

{% block main %}
    <div class="primary">
        <div class="left">
           <h3>書本查詢：</h3>
           <form method="get" action="{% url 'book_search' %}" onsubmit="return validateForm()">
               <label for="search_by">搜尋類別</label>
               <select id="search_by" name="search_by">
                   <option value="title">書名</option>
                   <option value="isbn">ISBN</option>
                   <option value="lname">姓</option>
                   <option value="fname">名</option>
                   <option value="publisher">出版社</option>
               </select>
               <br>
               <div class="search-box">
                   <input type="text" id="query" name="query" value="{{ request.GET.query|default_if_none:'' }}">
                   <button type="submit">
                       <i class="fa fa-search"></i>
                   </button>
               </div>
           </form>
           <br><hr><br>
           <h3>站點查詢：</h3>
           <form method="get" action="{% url 'station_search' %}">
            <div class="search-box-station">
                <label for="station_location">查詢地點</label>
                <select id="station_location" name="station_location">
                    <option value="Taipei">臺北</option>
                    <option value="Taichung">臺中</option>
                </select>
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
           </form>
        </div>
        <div class="right">
            {% if stations %}
                <h3>站點搜索結果：</h3>
                <table class="station-table">
                    <thead>
                        <tr>
                            <th>站名</th>
                            <th>狀態</th>
                            <th>地址</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for station in stations %}
                        <tr>
                            <td><a href="{% url 'station_detail' station.id %}">{{ station.name }}</a></td>
                            <td class="status-{{ station.statu }}">{{ station.get_statu_display }}</td>
                            <td>{{ station.addr }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No stations found.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}