body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top{
    height: 150px;
    background-color: rgb(130, 191, 244);
    text-align: center;
    align-content: center;
    line-height: 10px;
    max-height: 150px;
}

.person{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 1%;
    top: 2%;
    background-color: white;

    /* 訪客: https://photo-static-api.fotomore.com/creative/vcg/400/new/VCG41N1198413935.jpg
    男生: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdlU9zjkd_gZqm6RcA70J3W23t4yJGcOhUJ8vSRQiOyEhx3ty5dDb4i0rhuZAhvgH3mgA&usqp=CAU
    女生: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQul6cUgguGC_LWW8Vg7mvsBC-pS6LfaVNhW57O3MF352pjci8uO3mvaErbu_3bejzJLLg&usqp=CAU
    管理員: https://png.pngtree.com/png-vector/20191022/ourmid/pngtree-hammer-and-wrench-vector-illustration-with-simple-design-isolated-on-white-png-image_1846023.jpg */
}

.bottom{
    height: 100px;
    width: 100%;
    background-color: rgb(177, 25, 88);
    text-align: center;
    align-content: center;
    font-size: smaller;
    line-height: 1px;
    font-weight: bold;
}